# The below type of file will be ignored by git tracking :
*.manifest
*.htm
*.dep
*.idb
*.obj
*.user
*.exe
*.ilk
*.ncb
*.pdb
*.d
*.o
*.user
*build*
*.DS_Store
*.pdb
*.suo
*.xcuserstate


/String/dist/
/String/build/
private.xml
/.project

